﻿@model PetrovGN_Configurations.Models.MainPageVM
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <div>Configurations fields</div>
    <div>String: @Model.StringProp</div>
    <div>Int: @Model.IntProp</div>
    <div>SUPER: @Model.SuperConfig</div>
    <div>ARGS: @Model.ArgsConfig</div>

    <H3>RZPage: @Configuration["SuperStringValue"]</H3>

</div>
